{% extends 'base.html.twig' %}

{% block title %}Logowanie
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-10 mx-auto">
					{% for message in app.flashes('success')%}
						<div class='alert alert-success'>
							{{ message }}
						</div>
					{% endfor %}

					{% for message in app.flashes('error')%}
						<div class='alert alert-danger'>
							{{ message }}
						</div>
					{% endfor %}

					<h1>Logowanie</h1>
					<label for="inputUsername">Nazwa Użytkownika</label>
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
					<br>
					<label for="inputPassword">Hasło</label>
					<input type="password" name="password" id="inputPassword" class="form-control" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<br>
					<button class="btn btn-lg btn-primary" type="submit">
						Zaloguj się
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
