{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	Strona główna
{% endblock %}

{% block body %}
	<!-- Main Content -->
	{% for post in postsData %}
		<div class="post-preview">
			<a href="{{ path('post_details', {'id' : post.id }) }}">
				<h2 class="post-title">
					{{ post.title}}
				</h2>
				<h3 class="post-subtitle">
					{{ post.contents|striptags |length > 75 ? post.contents|striptags |slice(0, 75)  ~ '...' : post.contents|striptags }}
				</h3>
			</a>
			<p class="post-meta">Zamieszczone przez
				<a href="{{ path('user_posts', {'username' : post.user.username }) }}">{{ post.user.username }}</a>
				,
				{{ post.createdAt|date('d.m.Y H:i:s') }}<br>
				Komentarze:
				{{ post.comments|length }}, 
				Oceny:
				{% for rating in ratingsData %}
					{% if post.id == rating.post.id  %}					
						<em style='color:green;'>{{ rating.positive}}</em>
						<em style='color:red;'>{{rating.negative}}</em>
					{% endif %}
				{% endfor %}
			</p>
		</div>
		<hr>
	{% endfor %}
	<hr>
{% endblock %}
