{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	Post
{% endblock %}

{% block header %}

	<header class="masthead" style="background-image: url({{ asset('download/')}}{{ post.user.id }}/{{ post.photoPath }})">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="post-heading">
						<h1>{{ post.title }}</h1>
						<span class="meta">Zamieszczone przez
							<a href="{{ path('user_posts', {'username' : post.user.username }) }}">{{ post.user.username }}</a>
							{{ post.createdAt|date('d.m.Y H:i:s') }}</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block body %}
	<article>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					{{ post.contents|raw }}
				</div>
			</div>
		</div>
	</article>
	<hr>
	{% if not app.user %}
		<div class='alert alert-danger'>Uwaga ! Funkcjonalność serwisu dostępna tylko dla zalogowanych użytkowników.</div>
	{% elseif app.user.isVerified == false %}
		<div class='alert alert-danger'>Uwaga ! Twoje konto nie zostało zweryfikowane, nie masz dostępu do tej funkcjonalności serwisu.</div>
	{% else %}
		<div class="post-preview text-center">
			<h2>Oceny</h2>
			<button style='color:green;font-size:40px' onclick="window.location.href='{{ path('post_vote' , { 'id': post.id , 'type' : 'p', 'value' : '1'}) }}'">{{  ratingsData == null ? '0' : ratingsData.positive }}<img src="{{ asset('assets/vendor/jumpicon/iconfinder-thumb-up.png')}}"></button>
			<button style='color:red;font-size:40px' onclick="window.location.href='{{ path('post_vote' , { 'id': post.id , 'type' : 'n', 'value' : '1'}) }}'">{{  ratingsData == null ? '0' : ratingsData.negative }}<img src="{{ asset('assets/vendor/jumpicon/iconfinder-thumb-down.png')}}"></button>
		</div>
		<hr>
		<div class="post-preview text-center">
			<h2>Komentarze</h2>
			{% for comment in commentsData %}
				<span class="meta">
					{{ comment.contents|raw }}
					Dodane przez
					<a href="{{ path('user_comments', {'username' : comment.user.username }) }}">{{ comment.user.username }}</a>
					,
					{{ comment.postedAt|date('d.m.Y H:i:s') }}</span>
				<hr>
			{% endfor %}
			{% form_theme commentForm 'bootstrap_4_layout.html.twig' %}
			{{ form_start(commentForm) }}
			{{ form_row(commentForm.contents) }}
			{{ form_row(commentForm.submit) }}
			{{ form_end(commentForm) }}
		{% endif %}
	</div>
{% endblock %}
