<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>
			{% block title %}Blog5
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

		<!-- Bootstrap core CSS -->
		<link
		href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

		<!-- Custom fonts for this template -->
		<link href="{{ asset('assets/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link
		href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

		<!-- Custom styles for this template -->
		<link href="{{ asset('assets/css/clean-blog.min.css')}}" rel="stylesheet">

		<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

	</head>

	<body>
		{% include 'inc/nav.html.twig' %}
		{% block header %}
			{% include 'inc/header.html.twig' %}
		{% endblock %}
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					{% include 'inc/flash_messeges.html.twig' %}
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>
		{% include 'inc/modal.html.twig' %}
		{% include 'inc/footer.html.twig' %}
		{% block javascripts %}
			<!-- Bootstrap core JavaScript -->
			<script src="{{ asset('assets/vendor/jquery/jquery.min.js')}}"></script>
			<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
			<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
			<!-- Custom scripts for this template -->
			<script src="{{ asset('assets/js/clean-blog.min.js')}}"></script>

			<script src="https://cdn.tiny.cloud/1/qoj0g1gtwwrui5rjqcrzv73ze1u3wy1l4rsrwojnyo4p9vfq/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

			<script>
				tinymce.init({

selector: 'textarea',
plugins: "safari,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,imagemanager,filemanager",
language: "pl",
imagetools_cors_hosts: ['picsum.photos'],
menubar: 'file edit view insert format tools table help',
toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
toolbar_sticky: true,
height: 600

});
			</script>

			<script>
				$('#myModal').on('shown.bs.modal', function () {
$('#myInput').trigger('focus')
})
			</script>


		{% endblock %}
	</body>

</html>
<!-- 
	
					
				<script>
					tinymce.init({
	
	selector: 'textarea',
	plugins: "safari,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,imagemanager,filemanager",
	language: "pl",
	imagetools_cors_hosts: ['picsum.photos'],
	menubar: 'file edit view insert format tools table help',
	toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
	toolbar_sticky: true,
	height: 600
	
	});
				</script>
		
		 -->
