{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	List postów
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-10 mx-auto">
				{% for message in app.flashes('success')%}
					<div class='alert alert-success'>
						{{ message }}
					</div>
				{% endfor %}

				{% for message in app.flashes('error')%}
					<div class='alert alert-danger'>
						{{ message }}
					</div>
				{% endfor %}

				<table class="table">
					<thead>
						<tr>
							<th scope="col">id</th>
							<th scope="col">tytuł</th>
							<th style='width: 20px'></th>
							<th style='width: 20px'></th>
							<th style='width: 15px'></th>
						</tr>
					</thead>
					<tbody>
						{% for post in postsData %}
							<tr>
								<td>{{ post.id }}</td>
								<td>
									<a href="{{ path('post_details', {'id' : post.id }) }}">{{ post.title }}<a/></td>
								</td>
								<td>
									<a href="{{ path('post_edit' , { 'id': post.id }) }}" class="btn btn-success">Edycja</a>
								</td>
								<td>
									<a href="{{ path('post_delete' , { 'id': post.id }) }}" class="btn btn-danger">Usuń</a>
								</td>
								<td>
									{% if post.isPublic == '1' %}
										<input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" onchange="window.location.href='{{ path('post_set_visibility' , { 'id': post.id , 'visibility' : '0'}) }}'"></td>
								{% else %}
									<input type="checkbox" data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" onchange="window.location.href='{{ path('post_set_visibility' , { 'id': post.id , 'visibility' : '1'}) }}'"></td>
							{% endif %}
						</td>
					</tbody>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div></div></div>{% endblock %}
