{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} Lista komentarzy
{% endblock %}

{% block body %}
<h1>Lista komentarzy użytkownika
	{{ userData.username }}</h1>
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">tytuł posta</th>
			<th scope="col">komentarz</th>
			<th scope="col">data</th>
		</tr>
	</thead>
	<tbody>
		{% for comment in userComments %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>
					<a href="{{ path('post_details', {'id' : comment.post.id }) }}">{{ comment.post.title }}<a/></td>
				</td>
				<td>
					{{ comment.contents|striptags |length > 25 ? comment.contents|striptags |slice(0, 25)  ~ '...' : comment.contents|striptags }}</td>
				</td>
				<td>{{ comment.postedAt|date('d.m.Y H:i:s') }}</td>
	</tbody>
	{% endfor %}
</table>
{% endblock %}
